.hey {
    background: black;
    font-size: xx-large;
    color:silver;
}

body {
    background: red;
    text-align: center;
    text-decoration: dimgrey;
    text-transform: uppercase;
    text-anchor: middle;
    text-indent: 5rem;
    scrollbar-arrow-color: black;
}


input {
    padding-left: 8rem;
}

.start {
    background-color: black;
    padding: orem 6rem 0rem 6rem;
    text-align: center;
}